block content
  h1= title
  - for (var i = 0; i < questions.length; i++)
      - var q = questions[i]
      div(style='float: left; width: 35px;')
          | #{q.type}
      div(style='float: left; width: 90%; white-space:pre; margin-bottom: 15px;')
        if q.startverse == q.endverse
          | #{i+1}. #{q.question}
          | A. #{q.answer} (#{q.book} #{q.chapter}:#{q.startverse})
        else
          | #{i+1}. #{q.question}
          | A. #{q.answer} (#{q.book} #{q.chapter}:#{q.startverse}-#{q.endverse})
      div(style='clear: left;')